[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
idna = "~=3.7"
cryptography = "~=44.0.1"
attrs = "~=23.2.0"
distro = "~=1.9.0"
pillow = "~=10.2.0"
jinja2 = "~=3.1.2"
filelock = "~=3.13.1"
rich = "~=13.7.1"
pygments = "~=2.17.2"
markdown-it-py = "~=3.0.0"
pyyaml = "~=6.0.1"
click = "~=8.1.6"
mdurl = "~=0.1.2"
markupsafe = "~=2.1.5"
certifi = "~=2023.11.17"
requests = "~=2.31.0"
psutil = "~=5.9.8"
sqlalchemy = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-multipart = "*"
pytest = "*"
coverage = "*"
pytest-testdox = "*"
pydantic = {extras = ["email"], version = "*"}
email-validator = "*"
pytest-cov = "*"
pyjwt = "*"
python-jose = "*"

[dev-packages]

[requires]
python_version = "3.11"
